/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat:wght@300&family=Pacifico&family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.nav_logo{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #00C399;
}
.cv_button{
  color: white;
  font-weight: bolder;
  padding:0.9rem 1.2rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right,#00C399,#18CD8A);
  cursor: pointer;
  box-shadow: 0rem 3rem 8rem 0.5px #00C399;
  border: none;
  filter: brightness(1.1);
  margin-top: 0.6rem;
  
}
.cv_button:hover{
  filter: brightness(1.2);
}