/* @tailwind base; */
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@900&family=Montserrat:wght@300&family=Pacifico&family=Yantramanav&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Raleway:wght@500&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.nav_logo{
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  color: #00C399;
}
.cv_button{
  color: white;
  font-weight: bolder;
  padding:0.9rem 1.2rem;
  border-radius: 1rem;
  background-image: linear-gradient(to right,#00C399,#18CD8A);
  cursor: pointer;
  box-shadow: 0rem 3rem 8rem 0.5px #00C399;
  border: none;
  filter: brightness(1.1);
  margin-top: 0.6rem;
  
}
.cv_button:hover{
  filter: brightness(1.2);
}
.splide_arrow{
  align-items: center;
  border: 0;
  cursor: pointer;
  display: flex;
  height: 3em;
  justify-content: center;
  opacity: .7;
  position: absolute;
  bottom: 0%;
  z-index: 1;
  background: #00C399;
  color: white;
  width: 6em;
}
.splide__arrow--next{
  border-radius: 67% 33% 34% 67% / 52% 54% 45% 47% ;
  right: 0em !important;
  left: calc(50% + 4em) !important;
}
.splide__arrow--prev{
  border-radius: 27% 73% 73% 27% / 52% 54% 45% 47% ;
  left: calc(50% - 10em) !important;
}
@media(max-width:1280px){
  .splide_arrow{
    bottom: -15%;
  }
}
@media(max-width:1024px){
  .splide_arrow{
    bottom: -17%;
    width: 4em;
    height: 2em;
  }
  .splide__arrow--next{
    left: calc(50% + 2em) !important;
  }
  .splide__arrow--prev{
    left: calc(50% - 6em) !important;
  }
}

@media(max-width:768px){
  .splide_arrow{
    bottom: -19%;
  }
}
@media(max-width:640px){
  .splide_arrow{
    bottom: -30%;
    width: 2.5em;
    height: 1em;
    /* font-size: 0.5em; */
    padding: 1em 0.8em;
  }
  .splide__arrow--next{
    left: calc(50% + 1em) !important;
  }
  .splide__arrow--prev{
    left: calc(50% - 5em) !important;
  }
}

.anim-typewriter{
  position: relative;
  white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
 
  font-size: 3rem;
  font-weight: bolder;
  color: "#00BD95";
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
input:hover{
  box-shadow: 1rem 1rem 1rem black ;
}
input:focus{
  box-shadow: 1rem 1rem 1rem black ;
}